


<body id="gal">
    {{user.graffitiname}}<br>
    {{user.firstname}}<br>
    {{user.lastname}}<br>
    {{user.email}}
    <br>
    <div id="commentpic"></div>
{{!-- 
    <form action="/gallery/{{_id}}?_method=put" method="POST" id="galform">
        <input type="text" name="comment">
        <input type="submit" value="Submit Comment" class="button">
    </form>
    <br><br> --}}

{{!-- <form action="/gallery" method="POST" id="galform">
<div>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Hey... say something!
</textarea>
</div>
<input type="submit" value="Submit">
</form> --}}

<form id="form1"  action="/gallery" method="POST">
        graffiti name:<input type="text" name="graffitiname">
         <input type="submit" value="Throw it up">
    </form>


</body>