<div id="schedule">
    <h4 id="label">{{user.username}}</h4><br>
   
{{#each time}}


{{date}}
  <form action="/schedule/{{_id}}?_method=DELETE" method="POST">
    <input type="submit"  value="Delete Appt" class="button">
    </form>

{{_id}}

    <form action="/schedule2/{{_id}}" method="get">
    <input type="submit" value="Update" class="button">
    </form>

{{/each}}


    <h1>Painting Class Appointment</h1>


    <form action="/schedule" method="POST">
        <input type="date" name="date"><br>
        <input type="submit" value="Submit">
    </form>




    <br><br><br>

<div id="wow">
    <a href="/">Home</a><br>
    <a href="/user">User Page</a><br>
    <a href="/gallery">gallery</a>
  </div>

    </form>
    <form action="/new?_method=delete" method="DELETE">
    <input type="submit"  value="Restart" class="button">
    
  </form>

</div>