<div id="show">


  <a href="/">Home</a>
  <a href="/views/gallery">Gallery</a>
  <a href="/user/schedule">Appointment</a>
  <form action="/user/{{user._id}}?_method=put" method="POST">
    Username:<input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    First Name: <input type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname"><br>
    email: <input type="email" name="email"><br>
    <input type="submit" value="Update User" class="button">

  </form>

  <br><br>
  {{user.username}}<br>
  {{user.firstname}}<br>
  {{user.lastname}}<br>
  {{user.email}}
  <br><br>
  <form action="/?_method=delete" method="DELETE">
    <input type="submit" value="Delete User" class="button">
    
  </form>


</div>